nav {
    background-color: rgba(150, 86, 161, 0.8);
    color: #fff;
}

.jumbotron {
    width: 100%;
    margin: auto;
    display: block;
}

footer {
    height: 120px;
    background-color: rgba(150, 86, 161, 0.8);
}